header{
    background-color: rgb(241, 245, 245);
    width: 100%;
    height: 50px;
    font-size: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    display: grid;
    grid-template-columns: 45% 60%;
    padding-top: 10px;
  }